# SPDX-License-Identifier: GPL-2.0-or-later
# Clang-Format configuration for KDE-style C++

BasedOnStyle: WebKit
Standard: c++20
ColumnLimit: 0

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None

# Braces
BreakBeforeBraces: Linux
Cpp11BracedListStyle: true

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Breaking
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes

# Pointers and References
PointerAlignment: Right
ReferenceAlignment: Right

# Includes
SortIncludes: false
IncludeBlocks: Preserve

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Other
MaxEmptyLinesToKeep: 1
ReflowComments: true
SortUsingDeclarations: true
